<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <title>Administrador</title>
</head>
<body>
    <h1>ADMINISTRADOR</h1>
    <a href="/gestionar_usuarios">gestionar usuarios</a>
    <a href="/gestionar_categorias">gestionar categorias y peliculas</a>
    <a href="/gestionar_salas">gestionar Salas</a>
    <a href="/gestionar_tarjeta">Gestionar tarjetas de Débito/Crédito</a>
    <a href="">gestionar boletos comprados</a>
    <a href="/logout">Cerrar sesión</a>
</body>
</html>