<!DOCTYPE html>
<html>
<head>
    <title>Categorías</title>
</head>
<body>
    <h1>Listado de categorías y películas</h1>
    <ul>
        {% for categoria in categorias %}
        <br>
            <li>{{ categoria.nombre }}</li>
            <br>
            <ul>
                {% for pelicula in categoria.pelicula %}
                    <li>
                        <strong>Título:</strong> {{ pelicula.titulo }}<br>
                        <strong>Director:</strong> {{ pelicula.director }}<br>
                        <strong>Año:</strong> {{ pelicula.anio }}<br>
                        <strong>Fecha:</strong> {{ pelicula.fecha }}<br>
                        <strong>Hora:</strong> {{ pelicula.hora }}<br>
                        <strong>Imagen:</strong> {{ pelicula.imagen }}<br>
                        <strong>Precio:</strong> {{ pelicula.precio }}<br>
                    </li>
                    <br>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</body>
</html>