<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=<device-width>, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/styles.css" rel="stylesheet">
    <title>Eliminar Categoría</title>
</head>

<body>
    <h1>Eliminar Categoría</h1>
    <form method="POST" action="/eliminar_categoria">
        <label>Nombre de la categoría:</label>
        <input type="text" name="nombre_categoria" required>
        <br>
        <input type="radio" name="eliminar_pelicula" value="no" checked> Eliminar categoría completa<br>
        <input type="radio" name="eliminar_pelicula" value="si"> Eliminar película de la categoría<br>
        <br>
        <label>Nombre de la película (solo si se selecciona eliminar película):</label>
        <input type="text" name="nombre_pelicula">
        <br>
        <input type="submit" value="Eliminar">
    </form>
    {% if mensaje %}
    <p>{{ mensaje }}</p>
    {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>