<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Usuarios</title>
</head>
<body>
    <h1>Gestion de Categorías y películas</h1>
    <a href="/upload2">Cargar XML</a>
    <a href="/agregar_categoria">Añadir pelicula</a>
    <a href="/modificar_categoria">Modificar pelicula</a>
    <a href="/eliminar_categoria">Eliminar pelicula</a>
    <a href="/mostrar_cp">Mostrar peliculas</a>
</body>
</html>