<!DOCTYPE html>
<html>
<head>
    <title>Modificar Categoría</title>
</head>
<body>
    <h1>Modificar Categoría</h1>
    {% if mensaje %}
        <p>{{ mensaje }}</p>
    {% endif %}
    <form method="POST" action="/modificar_categoria">
        <label for="nombre_categoria_actual">Nombre de la categoría actual:</label>
        <input type="text" id="nombre_categoria_actual" name="nombre_categoria_actual" required>
        <br>
        <label for="nuevo_nombre_categoria">Nuevo nombre de la categoría:</label>
        <input type="text" id="nuevo_nombre_categoria" name="nuevo_nombre_categoria">
        <br>
        <label for="modificar_pelicula">¿Desea modificar alguna película?</label>
        <select id="modificar_pelicula" name="modificar_pelicula">
            <option value="si">Sí</option>
            <option value="no">No</option>
        </select>
        <br>
        <div id="pelicula_fields">
            <label for="nombre_pelicula">Nombre de la película:</label>
            <input type="text" id="nombre_pelicula" name="nombre_pelicula">
            <br>
            <label for="nuevo_titulo">Nuevo título:</label>
            <input type="text" id="nuevo_titulo" name="nuevo_titulo">
            <br>
            <label for="nuevo_director">Nuevo director:</label>
            <input type="text" id="nuevo_director" name="nuevo_director">
            <br>
            <label for="nuevo_anio">Nuevo año:</label>
            <input type="text" id="nuevo_anio" name="nuevo_anio">
            <br>
            <label for="nuevo_fecha">Nueva fecha:</label>
            <input type="text" id="nuevo_fecha" name="nuevo_fecha">
            <br>
            <label for="nuevo_hora">Nueva hora:</label>
            <input type="text" id="nuevo_hora" name="nuevo_hora">
            <br>
            <label for="nuevo_imagen">Nueva imagen:</label>
            <input type="text" id="nuevo_imagen" name="nuevo_imagen">
            <br>
            <label for="nuevo_precio">Nuevo precio:</label>
            <input type="text" id="nuevo_precio" name="nuevo_precio">
        </div>
        <br>
        <input type="submit" value="Modificar">
    </form>
</body>
</html>