<!DOCTYPE html>
<html>

<head>
    <title>Listado de Cines</title>
</head>

<body>
    <h1>Listado de Cines y Salas</h1>
    <ul>
        {% for cine in cines %}
        <li>
            <strong>Cine:</strong> {{ cine.nombre }}<br><br>
            <ul>
                {% for sala in cine.sala %}
                <li>
                    <strong>Número de Sala:</strong> {{ sala.num }}<br>
                    <strong>Asientos de Sala:</strong> {{ sala.asientos }}<br><br>
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
