<!DOCTYPE html>
<html>
<head>
    <title>Tarjetas</title>
</head>
<body>
    <h1>Tarjetas de usuarios</h1>
    
    <ul>
    {% for usuario in usuarios %}
        <li>
            <strong>Nombre de usuario:</strong> {{ usuario.nombre }} <br>
            <strong>Correo electrónico:</strong> {{ usuario.correo }} <br>
            <strong>Tarjeta:</strong>
            {% if usuario.tarjeta %}
                <ul>
                    <li>
                        <strong>Tipo:</strong> {{ usuario.tarjeta.tipo }} <br>
                        <strong>Número de tarjeta:</strong> {{ usuario.tarjeta.numero }} <br>
                        <strong>Titular:</strong> {{ usuario.tarjeta.titular }} <br>
                        <strong>Fecha de expiración:</strong> {{ usuario.tarjeta.fecha_expiracion }} <br>
                    </li>
                </ul>
            {% else %}
                No se ha asignado una tarjeta a este usuario.
            {% endif %}
        </li>
        <br>
    {% endfor %}
    </ul>
</body>
</html>