<!DOCTYPE html>
<html>

<head>

    <title>Detalles de la Película</title>
</head>

<body>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/styles.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <h1>Detalles de la Película</h1>

    <form action="/ver_detalles_pelicula" method="POST">
        <label for="categoria">Categoría:</label>
        <input type="text" id="categoria" name="categoria" required>

        <label for="titulo">Título de la película:</label>
        <input type="text" id="titulo" name="titulo" required>

        <button type="submit">Buscar</button>
    </form>

    {% if pelicula %}
    <div>
        <h2>{{ pelicula.titulo }}</h2>
        <p>Director: {{ pelicula.director }}</p>
        <p>Año: {{ pelicula.anio }}</p>
        <p>Fecha de función: {{ pelicula.fecha }}</p>
        <p>Hora de función: {{ pelicula.hora }}</p>
        <p>Precio: {{ pelicula.precio }}</p>
        <img src="{{ pelicula.imagen }}" alt="Imagen de la película">
    </div>
    {% elif pelicula == None %}
    <p>No se encontró la película.</p>
    {% endif %}

    <br><br>
    <a href="/ver_">Regresar</a>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"
        integrity="sha384-fbbOQedDUMZZ5KreZpsbe1LCZPVmfTnH7ois6mU1QK+m14rQ1l2bGBq41eYeM/fS"
        crossorigin="anonymous"></script>
</body>

</html>